@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    display: block;
    width: 100%;
    height: 100vh;
}
.svg{
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.animated{
    width: 30%;
}
.container h1{
    font-family: 'M PLUS 1 Code', sans-serif;
    text-align: center;
    font-size: 30px;
    display: flex;
  white-space: nowrap;
  border-right: 4px solid;
  width: 54ch;
  margin: auto;
  position: absolute;
  right: 20%;
  top: 65%;
  animation: typing 2s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
.container button{
    position: relative;
    right: -650px;
    top: 80px;
    border: none;
    background: #FF725E;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.container button:hover{
    background: #407BFF;
}
@keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  